<div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-4">
      <div class="buy-videos-wrapper">
        <div id="choosenVideos" class="list-group">
          <div class="holder"></div>
          <% @user.cart_videos.each do |cart_video| %>
          <%# raise %>
            <div class="list-group-item">
              <div class="col-xs-4">
                <%= cl_video_tag(cart_video.video.file.file.public_id) %>
              </div>

              <div class="col-xs-6 text-left">
                <%= cart_video.video.name %>
              </div>

              <div class="col-xs-2 text-right">
                <%= cart_video.video.price %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="buy-videos-wrapper">
            <div id="buyVideos">
              <div class="holder"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="price-wrapper text-right">
            <span>Total:</span>
            <span id="total-price">R$ 0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      Sortable.create(choosenVideos,
                      { group: 'buying',
                        sort: true,
                        gohstClass: 'ghost'
                      });

      Sortable.create(buyVideos,
                      { group: 'buying',
                        sort: true,
                        gohstClass: 'ghost'
                      });
    })

    $('#buyVideos').on('DOMNodeInserted', function() {
      // Grab all children prices
      var videos = $(this).find('.list-group-item');

      var total = sumTotalItemsPrice(videos);

      $('#total-price').text('R$ ' + total);
    });

    $('#buyVideos').on('DOMNodeRemoved', function(e) {
      //  Get current total
      var element = $(e.target);
      var videos = $(this).find('.list-group-item');

      var total = sumTotalItemsPrice(videos);

      $('#total-price').text('R$ ' + (total - parseFloat(element.find('.text-right').text().trim())));
    });

    function sumTotalItemsPrice(domElement) {
      var total = 0;

      domElement.each(function(_, video) {
        total += parseFloat($(video).find('.text-right').text().trim());
      });
      return total;
    }
  <% end %>
<% end %>
