<div class="videos-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center"><%= current_user.first_name %>`s Videos</h1>
      <% @videos.each do |video| %>
        <div class="col-xs-4">
          <div class="own-video-card">
            <div class="card-index">
              <%= cl_video_tag(video.file.file.public_id) %>

              <!-- Go to details -->
              <%= link_to admin_video_path(video) do %>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="card-options">
              <div class="text-center col-xs-1  col-xs-offset-3">
                <%= link_to edit_admin_video_path(video) do %>
                  <i class="fa fa-pencil fa-2x letter-purple"></i>
                <% end %>
              </div>
              <div class="text-center col-xs-1 col-xs-offset-3">
                <%= link_to admin_video_path(video), method: 'delete' do %>
                  <i class="fa fa-trash fa-2x letter-purple"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
