<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <%= simple_form_for ([:admin, @video]) do |f| %>
        <%= f.input :name %>
        <%= f.input :location %>
        <%= f.input :file %>
        <%= f.input :file_cache, as: :hidden %>
        <%= f.submit  %>
      <% end %>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
