<!DOCTYPE html>
<html>
  <head>
    <title>LewagonMarketplaceProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= render '/shared/navbar' %>

    <% if alert %>
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6">
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= alert %>
            </div>
          </div>
        </div>
      </div>
    <% elsif notice %>
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6">
            <div class="alert alert-success alert-dismissible text-center" role="alert">
              <%= notice %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <%= render "shared/footer" %>


    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
